*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-text-home-e-nav: #555;
  --color-text-dark: #111;
  --color-background-white: #f5f5f5;
}

body {
  background: var(--color-background-white);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  color: var(--color-text-dark);
  line-height: 1.5rem;
}
.home,
.about,
.meta,
.projeto {
  text-align: justify;
}
/* ------------------MENU--------------------- */

.menu ul{
  display: flex;
  justify-content: end;
  border-bottom: 1px solid black;
}

.menu li{
  margin: 30px 10px;
}

.menu a{
  color: var(--color-text-home-e-nav);
  border-radius: 3px;
  padding: 15px;
  transition: background 1s, color 0.3s;
}

.menu a:hover{
  background: var(--color-text-dark);
  color: var(--color-background-white);
}

/* ---------------HOME ---------------- */

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-content: center;
  padding: 150px 30px;
}

.home div{
  display: grid;
  place-content: center;
}

.home p{
  padding-top: 30px;
  color: var(--color-text-home-e-nav);
}

.button {
  grid-template-columns: repeat(2, auto);
  text-align: center;
  padding: 30px;
}

.button a{
  color: var(--color-background-white);
  border: 1px solid black;
  border-radius: 3px;
  margin: 15px;
  padding: 20px;
}

.button a:first-child{
  color: var(--color-text-dark);
}

.button a:last-child{
  background: var(--color-text-dark);
}

.home img{
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* ---------------about------------------------ */

.about {
  background: #e9e9e9;
  padding: 100px 30px;

}
.about h2{
  text-align: center;
  padding-bottom: 30px;
}

.about div{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1.5fr;
}

.about img{
  justify-self: start;
  border-radius: 5px;
  object-fit: cover;
  width: 400px;
}

.about p{
  align-self: center;
}

/* ----------------projeto--------------------- */
.projeto{
  display: grid;
  justify-content: center;
}
.projeto h2{
  text-align: center;
  padding: 100px 0px;
}

.wrapper {
  display: flex;
  width: 1024px;
  height: 615px;
  padding-bottom: 100px;
}

.card1{
  background: #111;
}
.card2{
  background: #222;
}
.card3{
  background: #333;
}
.card4{
  background: #555;
}
.card5{
  background: #777;
}
.card6{
  background: #999;
}

.card{
  flex: 1;
  transition: flex 0.5s ease;
  cursor: pointer;
}

.card:hover{
  flex: 4;
}

/* ----------------botao topo------------------ */

.botao-topo{
  position: relative;
  left: 95%;
  transform: translateX(-50%);
}

/* -------------------footer------------------- */

footer{
  display: grid;
  grid-template-rows: auto auto;
  gap: 3px 0px;
  text-align: center;
  padding: 15px 0px;
  background: #e9e9e9;
}
.footer-links img{
  width: 48px;
}


/* ------------------ipad---------------------- */
@media (min-width: 1024px) {
  header,
  .home,
  .about,
  .projeto {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1067px) {
  .wrapper {
    width: 800px;
    height: 300px;
  }
  .botao-topo{
    left: 90%;
    transform: translateX(-30%);
  }
}

@media (max-width: 810px) {
  .menu ul{
    justify-content: center;
  }
  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about{
    padding: 15px;
  }
  .about div{
  grid-template-columns: 1fr 1fr;

  }
  .about img{
    width: 100%;
  }
  .wrapper {
    width: 700px;
    height: 300px;
  }
  .botao-topo{
    left: 90%;
    transform: translateX(-30%);
  }
}

/* ----------------celular-------------------- */
@media (max-width: 450px) {
  .menu ul{
    justify-content: center;
  }
  .menu li {
    padding: 20px 0px;
    margin: 0px 0px;
  }
  .menu a{
    padding: 20px;
  }
  .home {
    display: flex;
    flex-direction: column;
  }

  .about div{
    display: grid;
    grid-template-columns: 1fr;
  }

  .about img {
    clip-path: circle(45%);
  }
  .wrapper {
    width: 350px;
    height: 200px;
  }
  .botao-topo{
    left: 80%;
    transform: translateX(-30%);
  }
}