*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-text-home-e-nav: #555;
  --color-text-dark: #111;
  --color-text-white: #f9f6ee;
  --color-background-white: #f5f5f5;
}

body {
  background: var(--color-background-white);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  color: var(--color-text-dark);
  line-height: 1.5rem;
}
.home,
.about,
.meta,
.projeto {
  margin: 0px 30px;
  text-align: justify;
}

header, main {
  padding: 0px 50px;
}

/* ------------------MENU--------------------- */

.menu ul{
  display: flex;
  justify-content: end;
  padding-top: 30px;
}

.menu li{
  margin: 0px 10px;
}

.menu a{
  color: var(--color-text-home-e-nav);
  border-radius: 3px;
  padding: 15px;
  transition: background 1s, color 0.3s;
}

.menu a:hover{
  background: var(--color-text-dark);
  color: var(--color-background-white);
}

/* ---------------HOME ---------------- */

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  justify-content: center;
  padding: 150px 0px;
}

.home div{
  display: grid;
  place-content: center;
}

.home h1 {
  padding-bottom: 30px;
}

.home p{
  color: var(--color-text-home-e-nav);
}

.home img{
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* ---------------about------------------------ */

.about {
  /* background: #f8f8ff; */
  padding: 100px 0px;
}
.about h2{
  text-align: center;
  padding-bottom: 30px;
}

.about div{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.about img{
  justify-self: start;
  border-radius: 5px;
  object-fit: cover;
  width: 400px;
}

.about p{
  align-self: center;
}

/* ----------------projeto--------------------- */
.projeto{
  display: grid;
  justify-content: center;
}
.projeto h2{
  text-align: center;
  padding: 50px 0px;
}

.wrapper {
  display: flex;
  width: 1067px;
  height: 615px;
  padding-bottom: 30px;
  /* overflow: hidden; */
}

.card1{
  background: #111;
}
.card2{
  background: #222;
}
.card3{
  background: #333;
}
.card4{
  background: #555;
}
.card5{
  background: #777;
}
.card6{
  background: #999;
}

.card{
  flex: 1;
  transition: flex 0.5s ease;
  cursor: pointer;
}

.card:hover{
  flex: 4;
}


/* -------------------footer------------------- */

footer{
  display: grid;
  grid-template-rows: auto auto;
  gap: 3px 0px;
  text-align: center;
  padding: 15px 0px;
  background: #999;
}
.footer-links img{
  width: 48px;
}


/* ------------------ipad---------------------- */
@media (max-width: 800px) {
  main {
    padding: 0px 5px;

  }
  .menu ul{
    justify-content: center;
  }
  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home div{
    padding: 0px;
  }
  .about img{
    width: 100%;
  }
  .wrapper {
    width: 600px;
    height: 200px;
  }
}


/* ----------------celular-------------------- */
@media (max-width: 450px) {
  .menu ul{
    justify-content: center;
  }
  .menu li {
    margin: 0px 5px;
  }
  .menu a{
    padding: 10px;
  }
  .home {
    display: flex;
    flex-direction: column;
  }

  .about div{
    display: grid;
    grid-template-columns: 1fr;
  }

  .about img {
    clip-path: circle(45%);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 150px;
  }
}